<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>Zaman Kayıtları</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Yorum</th>
          <th scope="col">Zaman Tipi</th>
          <th scope="col">Başlangıç Zamanı</th>
          <th scope="col">Bitiş Zamanı</th>
          <th scope="col">Kullanıcı</th>
        </tr>
      </thead>

      <tbody>
        <% @user_logs.each do |user_log| %>
          <tr>
            <td><%= user_log.comment %></td>
            <td><%= user_log.logType %></td>
            <td><%= user_log.startTime.strftime('%d/%m/%Y - %H:%M') %></td>
            <td><%= user_log.finishTime.strftime('%d/%m/%Y - %H:%M') %></td>
            <td><%= user_log.user.first_name + ' ' + user_log.user.last_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
