<p id="notice"><%= notice %></p>

<h1>User Logs</h1>

<table>
  <thead>
    <tr>
      <th>Yorum</th>
      <th>Zaman Tipi</th>
      <th>Başlangıç Zamanı</th>
      <th>Bitiş Zamanı</th>
      <th>Kullanıcı ID'si</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_logs.each do |user_log| %>
      <tr>
        <td><%= user_log.comment %></td>
        <td><%= user_log.logType %></td>
        <td><%= user_log.startTime %></td>
        <td><%= user_log.finishTime %></td>
        <td><%= user_log.user_id %></td>
        <td><%= link_to 'Show', user_log %></td>
        <td><%= link_to 'Edit', edit_user_log_path(user_log) %></td>
        <td><%= link_to 'Destroy', user_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Log', new_user_log_path %>
