<%= form_with(model: time_log, local: true) do |form| %>
  <% if time_log.errors.any? %>
    <div id="error_explanation">
      <h4><%= time_log.errors.count %> hata sebebiyle zaman kaydı oluşturulamadı:</h4>

      <ul>
        <% time_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= form.label :zaman_tipi %>
      <%= form.select(
        :time_type, 
        options_for_select(['Zaman Tipi 1', 'Zaman Tipi 2','Zaman Tipi 3','Zaman Tipi 4']),
        {},
        class: 'form-control',
        id: 'log-type'
      )%>
    </div>

    <div class="form-group">
      <%= form.label 'Başlangıç Zamanı' %>
      <%= form.datetime_select :start_time, id: 'start-time' %>
    </div>

    <div class="form-group">
      <%= form.label 'Bitiş Zamanı' %>
      <%= form.datetime_select :finish_time, id: 'finish-time' %>
    </div>
    
    <div class="form-group">
      <%= form.label :yorum %>
      <%= form.text_area :comment, class: 'form-control', id: 'first-name' %>
    </div>

    <div class="form-group">
      <%= form.submit 'Zaman Kaydı Oluştur', class: 'btn btn-success' %>
    </div>
  </form>
<% end %>
