<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>Zaman Kayıtları</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Yorum</th>
          <th scope="col">Zaman Tipi</th>
          <th scope="col">Başlangıç Zamanı</th>
          <th scope="col">Bitiş Zamanı</th>
          <th scope="col">Kullanıcı</th>
        </tr>
      </thead>

      <tbody>
        <% @time_logs.each do |time_log| %>
          <tr>
            <td><%= time_log.comment %></td>
            <td><%= time_log.time_type %></td>
            <td><%= time_log.start_time.strftime('%d/%m/%Y - %H:%M') %></td>
            <td><%= time_log.finish_time.strftime('%d/%m/%Y - %H:%M') %></td>
            <td><%= time_log.user.first_name + ' ' + time_log.user.last_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
