<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>Zaman Kayıtları</h2>

  <%= form_tag(time_logs_path, :method => "get", id: "time-logs-filter-form") do %>
    <div class="d-flex">
      <div class="form-group mr-auto p-2">
        <label for="time-type-select">Zaman tipi seçin</label>
        <%= select_tag(
          :time_type,
          options_for_select([['Hepsi',''],'Zaman Tipi 1', 'Zaman Tipi 2','Zaman Tipi 3','Zaman Tipi 4']),
          class: 'form-control',
          id: 'time-type-select'
        )%>
      </div>

      <div class="form-group p-2">
        <label for="multiple-user-select">Kullanıcıları seçin</label>
        <%= select_tag(
          :user_ids,
          options_from_collection_for_select(@users, "id", "fullname"),
          multiple: true,
          selected: :user_ids,
          class: 'form-control',
          id: 'time-type-select'
        )%>
        <small id="emailHelp" class="form-text text-muted d-flex">
          Birden fazla kullanıcı seçebilirsiniz.
        </small>
      </div>

      <div class="form-group p-2 col">
        <div class="form-group row">
          <label for="start-time-select">Başlangıç Zamanı</label>
          <%= datetime_select :start_time, id: 'start-time' %>
        </div>

        <div class="form-group row">
          <label for="finish-time-select">Bitiş Zamanı</label>
          <%= datetime_select :finish_time, id: 'finish-time' %>
        </div>
      </div>

      <div class="form-group p-2">
        <%= submit_tag "Filtrele", class: 'btn btn-primary' %>
        <a class="btn btn-primary" href="/time_logs" role="button">Sıfırla</a>
      </div>
    </div>
  <% end %>

  <% if @time_logs.count > 0 %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Zaman Tipi</th>
            <th>Başlangıç Zamanı</th>
            <th>Bitiş Zamanı</th>
            <th>Yorum</th>
            <th>Kullanıcı</th>
          </tr>
        </thead>

        <tbody>
          <% @time_logs.each do |time_log| %>
            <tr>
              <td><%= time_log.time_type %></td>
              <td><%= time_log.start_time.strftime('%d/%m/%Y - %H:%M') %></td>
              <td><%= time_log.finish_time.strftime('%d/%m/%Y - %H:%M') %></td>
              <td><%= time_log.comment %></td>
              <td><%= time_log.user.first_name %> <%= time_log.user.last_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    Zaman kaydı bulunamadı.
  <% end %>
</div>
