<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @time_log.comment %>
</p>

<p>
  <strong>Time Type:</strong>
  <%= @time_log.time_type %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @time_log.start_time %>
</p>

<p>
  <strong>Finish Time:</strong>
  <%= @time_log.finish_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @time_log.user_id %>
</p>

<%= link_to 'Edit', edit_time_log_path(@time_log) %> |
<%= link_to 'Back', time_logs_path %>
